* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #b69446;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #360f0b;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

p {
  line-height: 1.6;
  /* margin: 1rem auto; */
  /* padding: 0 1rem; */
  max-width: 100%;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.rectangle-link {
  display: inline-block; /* Ensures the link behaves like a button */
  width: 200px;
  height: 50px;
  background-color: #360f0b;
  color: #b69446;
  text-decoration: none; /* Removes underline */
  text-align: center; /* Centers text horizontally */
  line-height: 50px; /* Centers text vertically */
  /* border-radius: 5px; */
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rectangle-link:active {
  background-color: #360f0b00;
  color: #360f0b;
  border: #360f0b 5px solid;
}
